canvas {
    border: 2px solid black;
    background-image: url(https://pbs.twimg.com/profile_images/1425138403289489413/bHGqLqAk_400x400.jpg);
     background-repeat: no-repeat;
     background-color: white;
}
body {
    text-align: center;
    background-color: rgb(0, 183, 255); 
   
   
}
