canvas {
    border: 2px solid black;
    background-image: url(Design\ sem\ nome.jpg);
     background-repeat: no-repeat;
     background-size: 95vw;
     
}
body {
    text-align: center;
    background-color:white
   
   
}
